{
"ca_ssl":"/ssl/abhisingh_ca.ca-bundle",
"key_ssl":"/ssl/abhisingh_ca.key",
"crt_ssl":"/ssl/abhisingh_ca.crt",
"port":443,
"listen_address": "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}",
"etcd_addresses": [{% for host in groups['etcd_cluster'] %}"{{ hostvars[host]['ansible_default_ipv4']['address'] }}:2379"{% if not loop.last %},{% endif %} {% endfor %}],
"processing_machines":[{% for host in groups['processing_machine'] %}"{{ hostvars[host]['ansible_default_ipv4']['address'] }}"{% if not loop.last %},{% endif %} {% endfor %}],
"secrets":["abcd"],
"upload_user":"root",
"remote_upload_folder":"/uploads"
}